* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(image/bg-dark.png);
    background-size: cover;
    background-color: black;
    height: 100vh;
    width: 100%;
    /* position: fixed; */
}

@font-face {
    font-family: 'Merriweather-VariableFont_opsz,wdth,wght.ttf';
    src: url('fonts/Merriweather-VariableFont_opsz,wdth,wght.otf') format('opentype'),
         url('fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype'),
         url('fonts/Merriweather-VariableFont_opsz,wdth,wght.eot') format('embedded-opentype'), 
         url('fonts/Merriweather-VariableFont_opsz,wdth,wght.svg#Merriweather-VariableFont_opsz,wdth,wght') format('svg'),
         url('fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype'),
         url('fonts/Merriweather-VariableFont_opsz,wdth,wght.woff2') format('woff2'),
         url('fonts/Merriweather-VariableFont_opsz,wdth,wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-fluid {
    justify-content: space-between;
    display: flex;
    margin-top: 55px;
    font-size: 25px;
    color: burlywood;
    height: 5vh;
    width: 100vw;
    padding: 15px 6.5%;
    position: fixed;
    /* z-index: 100; */
}

.container-fluid a {
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.navbar-brand {
    font-size: 25px;
    /* position: fixed; */
    margin-left: 100px;
    color: burlywood;
    font-family: Merriweather-VariableFont_opsz,wdth,wght, serif;
    cursor: default;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.navbar-brand:hover {
    color: aliceblue;
}

.navbar-link {
    display: flex;
    list-style: none;
    font-family: Merriweather-VariableFont_opsz,wdth,wght, serif;
    margin-left: 600px;
    justify-content: space-between;
    gap: 30px;
    margin-top: 10px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.custom-navbar {
    background-color: transparent !important;
    border: burlywood;
    margin-top: -10px;
}


.nav-item1:hover {
    color: aliceblue;
}
.nav-item2:hover {
    color: aliceblue;
}
.nav-item3:hover {
    color: aliceblue;
}
.nav-item4:hover {
    color: aliceblue;
}
.nav-item5:hover {
    color: aliceblue;
}
.nav-item6:hover {
    color: aliceblue;
}
.nav-item7:hover {
    color: aliceblue;
}

.dropdown-menu { 
    /* margin-left: 90px; */
    background-color: burlywood;
    padding: 5px;
}

.d-flex {
    margin-left: 40px;
}

.btn-outline:hover {
    background: linear-gradient(135deg, #3a0ca3, #ff006e, #8338ec);
    color: aliceblue ;
    box-shadow: 0 0 5px burlywood, 0 0 25px burlywood, 0 0 50px burlywood, 0 0 10px burlywood, 0 0 10px burlywood;
}

.btn-outline {
    color: burlywood;
}

.nav-item:hover {
    color: aliceblue;
}

#services {
    color: aliceblue;
    font-size: 20px;
    margin-top: -25px;
    margin-left: 95px;
    padding: 150px;
    font-family: Merriweather-VariableFont_opsz,wdth,wght, serif;
}

.service-container {
    padding: 90px;
}

#service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    margin-top: -60px;
    grid-gap: 40px;
    /* transition-delay: color .33s  linear.5s border-color ease-out 5s background-color.33s linear 0s;
    z-index: 1; */
}

.scrpt1 {
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.scrpt2 {
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.scrpt3 {
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.scrpt4 {
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

#service-list div {
    border-radius: 20px;
    /* border: 2px solid red; */
    box-shadow: 1px 1px 20px burlywood,
                1px 1px 40px burlywood;
    padding-bottom: 40px;
    align-items: center;
    border-right: 20px;
    padding: 40px;
}

#service-list div h2 {
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

#service-list div p {
    text-align: justify;
    padding-bottom: 20px;
    margin-bottom: 15px;
    /* font-size: 30px; */
    font-weight: 400;
    opacity: 0;
    animation-delay: .1s;
    animation: slideTop 1s ease forwards;
}

#service-list div span { 
    color: burlywood;
}

#service-list i {
    margin-bottom: 30px;
    font-size: 50px;
    background: linear-gradient(135deg, #3a0ca3, #ff006e, #8338ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.my-service h2 {
    font-size: 65px;
    margin-bottom: 150px;
    transition: .5s ease;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

#service-list div:hover {
    transform: translateY(-5px);
    background: linear-gradient(135deg, #3a0ca3, #ff006e, #8338ec);
    transition: .5s;
    z-index: 1;
}

.my-script {
    margin-left: 15px;
    color: burlywood;
}
 
button {
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    display: inline-flex;
    padding: 17px 45px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    color: burlywood;
    border: none;
    opacity: 0;
    animation-delay: .1s;
    animation: slideTop 1s ease forwards;
    box-shadow: 0 0 10px burlywood, 0 0 24px burlywood;
}

.btn-group { 
    margin-top: 30px;
    margin-left: 990px;
    text-decoration: none;
}

button:hover {
    background: linear-gradient(135deg, #3a0ca3, #ff006e, #8338ec);
    color: aliceblue ;
    box-shadow: 0 0 5px burlywood, 0 0 25px burlywood, 0 0 50px burlywood, 0 0 100px burlywood, 0 0 200px burlywood;
}

#copy {
    margin-top: 95px;
    line-height: 1.9px;
    margin-left: 690px;
    color: aliceblue;
}

.footer-icons p {
    margin-left: 16px;
    font-size: 13px;
}

.logo {
    color: burlywood;
}

.scrpt {
    margin-left: 3px;
}


.footer-icons a {  
    font-size: 23px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    /* background: linear-gradient(135deg, #3a0ca3, #ff006e, #8338ec); */
    text-decoration: none;
    color: burlywood;
    margin-left: 25px;
    margin-top: 10px;
    transition: .5s ease;
    margin-right: -15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 992px) {
  .container-fluid {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-link {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
    margin-top: 90px;
    font-size: 15px;
  }

  #service-list {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    font-size: 10px;
  }

   #service-list {
    grid-template-columns: repeat(auto-fit,minmax(4,1fr));
    margin-top: -60px;
    grid-gap: 40px;

  }

  #copy {
    flex-direction: column;
    align-items: flex-start;
  }

} 

@media (max-width:580px) {
    button, .btn-group button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .navbar-brand {
    font-size: 16px;
    margin-right: 150px;
    margin-left: 0;
  }

   .navbar-link {
    margin-top: -6.5px;
    margin-left: -10px;
    padding: 5px;
    line-height: 15px;
    font-size: 13px;
  }

  .container-fluid button{
    background-color: burlywood;
    color: transparent;
    box-shadow: none;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }

    .dropdown-menu {
    border-right-width: 45px;
    padding: -19px;
    border-left-width: 10px;
    font-size: 12px;
    margin-left: -10px;
  }

  .container-fluid {
    color: burlywood;
  }

  #services {
    margin-top: -90px;
    padding: 10px;
  }

  .my-service h2 {
    font-size: 25px;
    margin-top: 250px;
    margin-left: 30px;
    line-height: 12px;
  }

  .my-service span {
   margin-left: 10px;
  }

  #service-list {
    margin-left: -90px;
    grid-template-columns: repeat(auto-fit,minmax(2,1fr));
    margin-top: -70px;
    grid-gap: 40px;

  }

  #service-list h2{
    margin-left: 22px;
  }

  #service-list i {
    margin-left: 15px;
  }

  #service-list p {
    flex-direction: column;
    font-size: 16px;
    padding: 20px;
    width: 300px;
    /* text-align: justify; */
  }

  .scrpt1 {
    flex-direction: column;
    margin-left: 20px;
    margin-top: -15px;
    font-size: 13px;
    padding: 15px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
  }
  .scrpt2 {
    flex-direction: column;
    margin-left: 20px;
    margin-top: -15px;
    font-size: 13px;
    padding: 15px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
  }
  .scrpt3 {
    flex-direction: column;
    margin-left: 20px;
    margin-top: -15px;
    font-size: 13px;
    padding: 15px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
  }
  .scrpt4 {
    flex-direction: column;
    margin-left: 20px;
    margin-top: -15px;
    font-size: 13px;
    padding: 15px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
  }

   #copy {
    margin-top: 135px;
    margin-bottom: -9px;
    font-size: 10px;
    line-height: 9px;
    margin-left: 15px;
  }

   .footer-icons a {
    font-size: 19px;
    padding: 15px;
    height: 25px;
    width: 25px;
    margin-left: 22px;
    line-height: 1px;
   }

   .footer-icons p {
    margin-left: 2px;
    font-size: 11px;
   }

}

